.results-row-user .player {
  flex-direction: row-reverse;
}

.progress-ring {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.progress-ring .content {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 700;
  text-align: center;
  z-index: 1;
}

.progress-ring .progress {
  font-size: 2rem;
}

.progress-ring svg {
  transform: rotate(90deg);
}

.results {
  display: flex;
  flex-direction: row;
  /* margin: 20px; */
  position: fixed;
  bottom: 132px;
  left: 0;
  width: 100vw;
  background-color: #f7d389;
  max-height: 23vh;
  overflow-y: scroll;
}

.ant-table-thead th {
  position: sticky !important;
  top: 0;
  z-index: 1;
}
