.vote {
  background-color: #f7d389;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}

.vote .card:nth-of-type(9) {
  grid-column: 2;
}

.vote .card:hover,
.vote .card.active {
  transform: scale(1.2);
}

.votePanel {
  background-color: #f7d389;
  bottom: 0;
  justify-content: center;
  left: 0;
  margin-top: 20px;
  padding: 10px;
  position: fixed;
}
.currentVote .card:hover .front {
  /* TODO: something nice here */
  border-color: black;
}

.currentVote .card {
  height: 14rem;
  width: 8rem;
}
