@font-face {
  font-family: "Blender Pro";
  src: url("/font/BlenderPro-Medium.eot");
  src: local("Blender Pro Medium"), local("BlenderPro-Medium"),
    url("/font/BlenderPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("/font/BlenderPro-Medium.woff2") format("woff2"),
    url("/font/BlenderPro-Medium.woff") format("woff"),
    url("/font/BlenderPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Blender Pro";
  src: url("/font/BlenderPro-ThinItalic.eot");
  src: local("Blender Pro Thin Italic"), local("BlenderPro-ThinItalic"),
    url("/font/BlenderPro-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("/font/BlenderPro-ThinItalic.woff2") format("woff2"),
    url("/font/BlenderPro-ThinItalic.woff") format("woff"),
    url("/font/BlenderPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Blender Pro";
  src: url("/font/BlenderPro-Heavy.eot");
  src: local("Blender Pro Heavy"), local("BlenderPro-Heavy"),
    url("/font/BlenderPro-Heavy.eot?#iefix") format("embedded-opentype"),
    url("/font/BlenderPro-Heavy.woff2") format("woff2"),
    url("/font/BlenderPro-Heavy.woff") format("woff"),
    url("/font/BlenderPro-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Blender Pro Book";
  src: url("/font/BlenderPro-BookItalic.eot");
  src: local("Blender Pro Book Italic"), local("BlenderPro-BookItalic"),
    url("/font/BlenderPro-BookItalic.eot?#iefix") format("embedded-opentype"),
    url("/font/BlenderPro-BookItalic.woff2") format("woff2"),
    url("/font/BlenderPro-BookItalic.woff") format("woff"),
    url("/font/BlenderPro-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Blender Pro Book";
  src: url("/font/BlenderPro-Book.eot");
  src: local("Blender Pro Book"), local("BlenderPro-Book"),
    url("/font/BlenderPro-Book.eot?#iefix") format("embedded-opentype"),
    url("/font/BlenderPro-Book.woff2") format("woff2"),
    url("/font/BlenderPro-Book.woff") format("woff"),
    url("/font/BlenderPro-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Blender Pro";
  src: url("/font/BlenderPro-Bold.eot");
  src: local("Blender Pro Bold"), local("BlenderPro-Bold"),
    url("/font/BlenderPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("/font/BlenderPro-Bold.woff2") format("woff2"),
    url("/font/BlenderPro-Bold.woff") format("woff"),
    url("/font/BlenderPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Blender Pro";
  src: url("/font/BlenderPro-Thin.eot");
  src: local("Blender Pro Thin"), local("BlenderPro-Thin"),
    url("/font/BlenderPro-Thin.eot?#iefix") format("embedded-opentype"),
    url("/font/BlenderPro-Thin.woff2") format("woff2"),
    url("/font/BlenderPro-Thin.woff") format("woff"),
    url("/font/BlenderPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Blender Pro";
  src: url("/font/BlenderPro-MediumItalic.eot");
  src: local("Blender Pro Medium Italic"), local("BlenderPro-MediumItalic"),
    url("/font/BlenderPro-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("/font/BlenderPro-MediumItalic.woff2") format("woff2"),
    url("/font/BlenderPro-MediumItalic.woff") format("woff"),
    url("/font/BlenderPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Blender Pro";
  src: url("/font/BlenderPro-BoldItalic.eot");
  src: local("Blender Pro Bold Italic"), local("BlenderPro-BoldItalic"),
    url("/font/BlenderPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("/font/BlenderPro-BoldItalic.woff2") format("woff2"),
    url("/font/BlenderPro-BoldItalic.woff") format("woff"),
    url("/font/BlenderPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
