.vote {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.vote .card:nth-of-type(9) {
  grid-column: 2;
}

.vote .card:hover,
.vote .card.active {
  transform: scale(1.2);
  z-index: 1;
}

.votePanel {
  background-color: #f6f4e8;
  bottom: 0;
  justify-content: center;
  left: 0;
  margin-top: 20px;
  padding: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.currentVote .card:hover .front {
  border-color: #47271a;
}

.currentVote .card {
  height: 14rem;
  width: 8rem;
}
.currentVote .card .front {
  font-size: 6rem;
}

.ant-popover-inner-content {
  background-color: #f6f4e8;
}
