h1,
h2,
h3,
h4,
h5 {
  font-family: Blender Pro;
}

.ant-layout-header {
  background-color: #d0cd94 !important;
}

.ant-btn-primary {
  background-color: #ec4e20 !important;
  border-color: black !important;
}

.ant-layout {
  background-color: #f6f4e8 !important;
}
