h1,
h2,
h3,
h4,
h5 {
  font-family: Blender Pro;
}

.ant-btn-primary {
  background-color: #ec4e20 !important;
  border-color: black !important;
}

.ant-layout {
  background-color: #f6f4e8 !important;
}

.recipe a {
  display: inline-block;
}

.ant-layout-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("../public/header-bg.jpg") !important;
  background-blend-mode: overlay;
  height: 128px !important;
  background-color: #d0cd94 !important;
}

.ant-layout-header .logo {
  height: calc(100% - 15px);
  margin: 15px;
  line-height: 1;
}

.ant-layout-header .logo img {
  height: 100%;
}

.ant-layout-header .title {
  margin: 0;
  color: #47271a;
  padding: 0px 10px;
  background-color: #ecff7f;
}

.ant-layout-header .profile .avatar {
  width: 25px;
  height: 25px;
}

.ant-layout-header .profile img + span {
  margin-left: 5px;
}

.ant-layout-content {
  padding: 0 50px;
  margin: 0;
  min-height: calc(100vh - 128px) !important;
}

img.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.profile-modal .avatar {
  width: 100px;
  height: 100px;
}

.create-game {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.create-game input {
  margin-bottom: 10px;
}

.header-buttons {
  margin-left: auto;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}

.createGame-button {
  box-shadow: 0px 0px 15px 5px #ec4e20 !important;
}

@media (max-width: 1024px) {
  .ant-layout-header {
    flex-direction: column;
  }
  .header-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .ant-layout-header .logo {
    height: 36px;
  }
  .ant-layout-header .title {
    display: inline-flex;
  }

  .ant-layout-content {
    padding: 0 10px;
  }

  .ant-layout-content h1 {
    font-size: 26px !important;
  }
}
