h1,
h2,
h3,
h4,
h5 {
  font-family: Blender Pro;
}

.ant-layout-header {
  background-color: #d0cd94 !important;
}

.ant-btn-primary {
  background-color: #ec4e20 !important;
  border-color: black !important;
}

.ant-layout {
  background-color: #f6f4e8 !important;
}

.recipe a {
  display: inline-block;
}

.ant-layout-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ant-layout-header .logo {
  height: calc(100% - 15px);
  margin: 15px;
  line-height: 1;
}

.ant-layout-header .logo img {
  height: 100%;
}

.ant-layout-header .title {
  margin: 0;
  color: #47271a;
}

.ant-layout-header .profile {
  margin-left: auto;
}

.ant-layout-header .profile .avatar {
  width: 25px;
  height: 25px;
}

.ant-layout-header .profile img + span {
  margin-left: 5px;
}

.ant-layout-content {
  padding: 0 50px;
  margin: 0;
  min-height: calc(100vh - 64px) !important;
}

img.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.profile-modal .avatar {
  width: 100px;
  height: 100px;
}

.new-game {
  text-align: center;
  margin: 50px;
}

.create-game {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.create-game input {
  margin-bottom: 10px;
}
